.box-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    border: 0.01rem solid var(--color-search-box-edge);
    width: 23rem;
    height: 2.8rem;
    margin: 2rem 0.93rem;
}

.icon-search {
    width: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-term {
    width: 26rem; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-term input {
    width: 17.5rem;
    margin-left: 0.9rem;
    padding: 0.7rem;
    border-radius: 4.5rem;
}

.box-search:hover {
    box-shadow: 0 0 0.5rem var(--color-transition-box);
}

.icon-button {
    width: 4.3rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.icon-button button {
    background-color: var(--color-icon-button);
    cursor: pointer;
    margin-right: -0.1rem;
}

.icon-hidden {
    display: none;
}

@media(min-width: 768px){

    .box-search{
        width: 610px;
        margin: 32px 15px;
    }
    
    .icon-search {
        width: 48px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .search-term {
        width: 640px; 
        margin-left: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .search-term input {
        width: 505px;
        margin-left: -10px;
        padding: 12px;
        margin-top: 1px;
        border-radius: 14px;
    }

    .icon-button {
        width: 80px;
        margin-top: 1px;
        margin-left: 16px;
        margin-right: -16px;
        display: flex;
        justify-content: flex-end;
    }
    
    .icon-button button {
        margin-right: 48px;
    }

}