.box-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3.75rem;
    border: 0.01rem solid var(--color-search-box-edge);
    width: 20rem;
    height: 2.8rem;
    padding: 0.01rem;
    margin: 2rem 0;
}

.box-search:hover {
    box-shadow: 0 0 0.8rem var(--color-transition-box);
}

.box-search .icon-search {
    display: none;
}

.box-search .search-term {
    width: 90%;   
}

.box-search .search-term input {
        width: 90%;
        margin-left: 1.875rem;
    }

.box-search .icon-button {
    height: 100%;
    width: 4.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-search .icon-button button {
    background-color: var(--color-icon-button);
    cursor: pointer;
}

.box-search .icon-hidden {
    display: none;
}

@media (min-width: 1100px) {
    .box-search { 
        width: 30rem;
    }

    .box-search .icon-search {
        height: 100%;
        width: 2.8rem;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-search .search-term input {
        width: 90%;
        margin-left: 1.25rem;
        height: 38px;
    }
}
