#results-container .menubar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-search-box-edge);
    box-shadow: 0 1px 10px rgb(173, 173, 173);
} 

#results-container .menubar .arrow-left-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
}

#results-container .menubar .arrow-left-icon .button {
    cursor: pointer;
    background-color: var(--color-arrow-background);
    border-radius: 0.938rem;
    padding: 0.625rem;
    transition: background-color 0.3s;
}

#results-container .menubar .arrow-left-icon .button:hover {
    background-color: var(--color-backgroud-arrow-icon); 
}

#results-container .resultsbar {
    margin-left: 3.5rem;
}

#results-container .nocontent {
    height: 90vh;
}

#results-container .pagination {
    width: 40%;
    height: 4.375rem;
    display: block;
    margin-top: 1.875rem;
}

#results-container .loading {
    margin-left: 25px;
}

@media (min-width: 768px) {
    
    #results-container .resultsbar {
        margin-left: 6.25rem;
    }
}

