#results-container #menubar {
    display: flex;
}

#results-container #menubar .arrow-left-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;  
}

#results-container #menubar .arrow-left-icon .button {
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    transition: background-color 0.3s;
}

#results-container #menubar .arrow-left-icon .button:hover {
    background-color: #ececec;
}

#results-container #menubar .loading {
    margin-left: 20px;
    margin-top: 20px;
}

#results-container #separator {
    border: 1px solid #ececec;
    margin-top: 20px;
}

#results-container #resultsbar {
    margin-left: 100px;
}
#results-container #resultsbar .pagination {
    width: 40%;
    height: 70px;
    display: block;
    margin-top: 30px;
}
