#page-home { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-home main {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;

    overflow: hidden;
    animation: fade 800ms;
}

#page-home main h1 {
    font-size: 3rem;
    color: var( --color-logo-search);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: move 500ms;
}

#page-home .box-search {
    animation: move 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
}

#page-home .button {
    color: var(--color-button-search);
    background-color: var(--color-button-background-search);
    padding: 0.625rem 2rem;
    border-radius: 0.7rem;
    cursor: pointer;
    height: 45px;

    animation: move 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;  
}

#page-home .button:hover {
    border: 1px solid var(--color-button-search-hover);
}


@media(min-width: 768px){

    #page-home main h1 {
        font-size: 4rem;
    }

}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
