#page-home {
    height: 100vh;
}

#page-home .search-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#page-home .search-group h1 {
    font-size: 70px;
    font-weight: normal;
}

#page-home .button {
    color: #5F6368;
    padding: 10px 16px;
    border-radius: 4px;
    text-align: center;
    margin-top: 15px;
    background-color: #f2f2f2;
    cursor: pointer;
}

#page-home .button:hover {
    border: 1px solid #9AA0A6;
}