#page-home {
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.search-group h1 {
    font-size: 70px;
    font-weight: normal;
}

#btn-search {
    color: #5F6368;
    padding: 10px 16px;
    border-radius: 4px;
    text-align: center;
    margin-top: 15px;
    background-color: #f2f2f2;
    cursor: pointer;
}

#btn-search:hover {
    border: 1px solid #9AA0A6;
}