.results li {
    margin-top: 20px;
    list-style-type: none;
    width: 50rem;
}

.results li h3 {
    color: #1a0dab;
    font-weight: normal;
    font-size: 20px;
}

.results li span {
    font-size: px;
    color: #4d5156;
    
}

.results li a {
    text-decoration: none;
}

.results li a:hover {
    text-decoration: underline;
}

.results li cite {
    color: #202124;
}

.results p {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    color: #70757a;
    font-size: 14px;
}