.results p {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    color: var(--color-results-found);
    font-size: 0.875rem;
}

.results ul li {
    width: 85%;
    margin-left: 15px;
    margin-top: 1.25rem;
    list-style-type: none;

    box-shadow: 0 1px 10px rgb(185, 185, 185);
    border-radius: 10px;
    padding: 10px 20px;

}

.results ul li h3 {
    color: var(--color-link-result);
    font-weight: normal;
    font-size: 1.25rem;
    margin: 5px 0;

}

.results ul li span {
    font-size: 0.875rem;
    color: var(--color-search-result-site);
}

.results ul li a {
    text-decoration: none;
}

.results ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-link-result);
}

.results ul li cite {
    color: var(--color-search-results-content);
}

@media(min-width: 768px){

    .results p {
        margin-left: 50px;
    }

    .results ul li {
        margin-left: 50px;
        width: 800px;
    }
}