@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
  font-size: 100%;

  --color-logo-search: #023e8a;
  --color-button-search: #343a40;
  --color-button-background-search: #f3f3f3;
  --color-button-search-hover: #dadada;
  --color-search-bar: #ffffff;
  --color-link-result: #1a0dab;
  --color-arrow-icon: #c2bebe; 
  --color-arrow-background: #ffffff;
  --color-line-search-results: #e9ecef;
  --color-transition-box: #dfe1e5;
  --color-icon-button: #ffffff;
  --color-search-box-edge: #cbcdd1;
  --color-search-results-content: #4d5156;
  --color-search-result-site: #202124;
  --color-results-found: #70757a;
  --color-backgroud-arrow-icon: #ececec;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border-width: 0;
}

html, body, #root {
  height: 100vh;
}


input, button, h1, h3, p, span {
  font: 400 15px Roboto, sans-serif;
}
