.warning-card {
    width: 100%;
}

.warning-card p {
    display: block;
    margin: 1.6rem 0;
    font-size: medium;
    font-weight: normal;
}

.warning-card p em {
    font-weight: bold;
    font-style: normal;
}