#not-found-container {
    width: 100%;
}

#not-found-container .warning-card p {
    display: block;
    margin: 1.6rem 0;
    font-size: medium;
    font-weight: normal;
}

#not-found-container .warning-card p em {
    font-weight: bold;
    font-style: normal;
}